.DS_Store
.dotnet
.dotnetcli
.metadata
.settings
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
BenchmarkDotNet.Artifacts/
bin
Bin
node_modules/
obj
packages
profile.arm.json
project.lock.json
src/AdventOfCode.Site/wwwroot/static/js/
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.[Pp]ublish.xml
*.pubxml
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.TMP
*.user
