<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="500" />
      <remove statusCode="502" />
      <remove statusCode="503" />
      <remove statusCode="504" />
      <error statusCode="500" responseMode="File" path="wwwroot\error.html" />
      <error statusCode="502" responseMode="File" path="wwwroot\error.html" />
      <error statusCode="503" responseMode="File" path="wwwroot\error.html" />
      <error statusCode="504" responseMode="File" path="wwwroot\error.html" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="204800" />
      </requestFiltering>
    </security>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <aspNetCore disableStartUpErrorPage="true" />
  </system.webServer>
</configuration>
