@implements IUsesLayout<_Layout>

@{
    var requestId = System.Diagnostics.Activity.Current?.Id ?? HttpContext!.TraceIdentifier;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(requestId))
{
    <p>
        <strong>Request ID:</strong> <code>@(requestId)</code>
    </p>
}
