<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AdventOfCode2015 Rules" Description="This rule set contains rules for the AdventOfCode2015 solution." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>
